<html>
<head>
    <title>Redirecting...</title>
<form action="https://rc-epay.esewa.com.np/api/epay/main/v2/form" method="POST">

    <input name="amount" value="{{ amount }}">
    <input name="tax_amount" value="{{ tax_amount }}">
    <input name="total_amount" value="{{ total_amount }}">
    <input name="transaction_uuid" value="{{ transaction_uuid }}">
    <input name="product_code" value="{{ product_code }}">

    <input name="success_url" value="{{ success_url }}">
    <input name="failure_url" value="{{ failure_url }}">

    <button type="submit">Pay</button>

</form>